body {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav article ads"
    "footer footer footer";
  grid-template-rows: 80px 1fr 70px;
  grid-template-columns: 20% 1fr 15%;
  grid-row-gap: 3px;
  grid-column-gap: 3px;
  height: 100vh;
  margin: 0;
}
/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
  body {
    grid-template-areas:
      "header"
      "nav"
      "article"
      "ads"
      "footer";
    grid-template-rows: 80px 100px 1fr 0px 70px;
    grid-template-columns: 1fr;
  }
  #mainNav ul {
    margin-top: -10px;
    margin-left: 30px;
  }
  #mainNav {
    border: 3px solid yyyellow;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
header,
footer,
article,
nav,
ads,
div {
  padding: 1.2em;
  background: gold;
}
#pageHeader {
  grid-area: header;
}
#pageFooter {
  grid-area: footer;
}
#mainArticle {
  grid-area: article;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
#mainNav {
  grid-area: nav;
}
#mainNav ul {
  list-style: none;
  text-decoration: none;
}
#mainNav :any-link {
  text-decoration: none;
}

#siteAds {
  grid-area: ads;
}
#intro-grid-fill {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 2vw;
}
#intro-grid code {
  font-size: 15px;
  padding: 1.5em;
  text-align: center;
}
#intro-grid-fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 2vw;
}
#intro-grid-fit code {
  font-size: 15px;
  padding: 1.5em;
  text-align: center;
}
pre {
  overflow-x: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c2cec4;
  padding: 10%;
  padding-left: 70%;
  background: -moz-linear-gradient(left, #c2cec4 0%, #90a1a4 50%, #b3c5c3 100%);
  background: -webkit-linear-gradient(
    left,
    #c2cec4 0%,
    #90a1a4 50%,
    #b3c5c3 100%
  );
  background: linear-gradient(to right, #c2cec4 0%, #90a1a4 50%, #b3c5c3 100%);

  -webkit-box-shadow: inset -1px 3px 8px 5px #1f87ff, 2px 5px 16px 0px #0b325e,
    -3px 13px 4px 16px rgba(0, 0, 0, 0.05);
  box-shadow: inset -1px 3px 8px 5px #1f87ff, 2px 5px 16px 0px #0b325e,
    -3px 13px 4px 16px rgba(0, 0, 0, 0.05);
}
